<a href="https://colab.research.google.com/github/gustavor10silva/alura_imersao_dados_4/blob/main/4_modelo_de_regressao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 2 Preparando os dados

Primeiro, vamos selecionar apenas as variáveis numéricas para utilizarmos no treinamento do nosso modelo de regressão:

In [ ]:
df_imoveis_ibge = pd.read_csv('/content/drive/MyDrive/Alura/imersao_dados4/df_imoveis_ibge.csv')
df_imoveis_ibge.drop(columns = ['Unnamed: 0'], inplace = True)
df_imoveis_ibge.head()

,endereco,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor,endereco_geolocalizado,...,domicilio01_sp1_V002,V012,domicilio01_sp1_V017,domicilio01_sp1_V023,domicilio01_sp1_V035,domicilio01_sp1_V043,pessoa01_sp1_Cod_setor,pessoa01_sp1_V001,pessoa03_sp1_Cod_setor,pessoa03_sp1_V001
0,"Rua Caramuru, 100 - Saúde, São Paulo","Rua Caramuru, 100",Saúde,São Paulo,380,9,4,4,3700000,"100, Rua Caramuru, Chácara Inglesa, Saúde, São...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Alameda Franca, 587 - Jardim Paulista, São Paulo","Alameda Franca, 587",Jardim Paulista,São Paulo,137,9,2,1,2600000,"Alameda Franca, Cerqueira César, Jardim Paulis...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Alameda Franca, 587 - Jardim Paulista, São Paulo","Alameda Franca, 587",Jardim Paulista,São Paulo,142,9,2,1,2600000,"Alameda Franca, Cerqueira César, Jardim Paulis...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Alameda Franca - Jardim Paulista, São Paulo",Alameda Franca,Jardim Paulista,São Paulo,150,9,2,1,2600000,"Alameda Franca, Cerqueira César, Jardim Paulis...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Alameda Franca - Jardim Paulista, São Paulo",Alameda Franca,Jardim Paulista,São Paulo,155,9,2,1,2600000,"Alameda Franca, Cerqueira César, Jardim Paulis...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_imoveis_ibge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8975 entries, 0 to 8974
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   endereco                   5998 non-null   object
 1   Rua                        6008 non-null   object
 2   Bairro                     8965 non-null   object
 3   Cidade                     8975 non-null   object
 4   Metragem                   8975 non-null   int64
 5   Quartos                    8975 non-null   int64
 6   Banheiros                  8975 non-null   int64
 7   Vagas                      8975 non-null   int64
 8   Valor                      8975 non-null   int64
 9   endereco_geolocalizado     5898 non-null   object
 10  endereco_point             5898 non-null   object
 11  latitude                   5898 non-null   float64
 12  longitude                  5898 non-null   float64
 13  point                      5898 non-null   object
 14  setor_censo                2920 non-null   float64
 15  basico_sp1_Cod_setor       1360 non-null   float64
 16  basico_sp1_Situacao_setor  1360 non-null   float64
 17  basico_sp1_V001            1360 non-null   float64
 18  basico_sp1_V002            1360 non-null   float64
 19  basico_sp1_V003            1360 non-null   float64
 20  basico_sp1_V004            1360 non-null   float64
 21  basico_sp1_V005            1360 non-null   float64
 22  basico_sp1_V006            1360 non-null   float64
 23  domicilio01_sp1_Cod_setor  1360 non-null   float64
 24  domicilio01_sp1_V001       1360 non-null   float64
 25  domicilio01_sp1_V002       1360 non-null   float64
 26  V012                       1360 non-null   object
 27  domicilio01_sp1_V017       1360 non-null   object
 28  domicilio01_sp1_V023       1360 non-null   object
 29  domicilio01_sp1_V035       1360 non-null   object
 30  domicilio01_sp1_V043       1360 non-null   object
 31  pessoa01_sp1_Cod_setor     1360 non-null   float64
 32  pessoa01_sp1_V001          1360 non-null   float64
 33  pessoa03_sp1_Cod_setor     1360 non-null   float64
 34  pessoa03_sp1_V001          1360 non-null   float64
dtypes: float64(18), int64(5), object(12)
memory usage: 2.4+ MB

In [ ]:
df_num = df_imoveis_ibge.drop(columns = ['endereco',
                                                  'Rua',
                                                  'Bairro',
                                                  'Cidade',
                                                  'setor_censo',
                                                  'basico_sp1_Cod_setor',
                                                  'endereco_geolocalizado',
                                                  'endereco_point',
                                                  'latitude',
                                                  'longitude',
                                                  'point',
                                                  'pessoa01_sp1_Cod_setor',
                                                  'pessoa03_sp1_Cod_setor',
                                                  'domicilio01_sp1_Cod_setor'])

In [ ]:
df_num

,Metragem,Quartos,Banheiros,Vagas,Valor,basico_sp1_Situacao_setor,basico_sp1_V001,basico_sp1_V002,basico_sp1_V003,basico_sp1_V004,...,basico_sp1_V006,domicilio01_sp1_V001,domicilio01_sp1_V002,V012,domicilio01_sp1_V017,domicilio01_sp1_V023,domicilio01_sp1_V035,domicilio01_sp1_V043,pessoa01_sp1_V001,pessoa03_sp1_V001
0,380,9,4,4,3700000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,137,9,2,1,2600000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,142,9,2,1,2600000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,150,9,2,1,2600000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,155,9,2,1,2600000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8970,107,1,1,1,188682,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8971,112,1,1,1,188682,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8972,45,1,1,1,160000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8973,61,1,1,1,147288,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8974,61,1,1,1,147288,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_num[df_num['basico_sp1_V001'].notnull()]

,Metragem,Quartos,Banheiros,Vagas,Valor,basico_sp1_Situacao_setor,basico_sp1_V001,basico_sp1_V002,basico_sp1_V003,basico_sp1_V004,...,basico_sp1_V006,domicilio01_sp1_V001,domicilio01_sp1_V002,V012,domicilio01_sp1_V017,domicilio01_sp1_V023,domicilio01_sp1_V035,domicilio01_sp1_V043,pessoa01_sp1_V001,pessoa03_sp1_V001
28,727,7,6,7,5799000,1.0,85.0,316.0,3.72,2.35,...,2.034546e+08,85.0,85.0,85,82,0,85,85,295.0,316.0
29,732,7,6,7,5799000,1.0,85.0,316.0,3.72,2.35,...,2.034546e+08,85.0,85.0,85,82,0,85,85,295.0,316.0
35,800,7,7,4,3500000,1.0,48.0,164.0,3.42,2.76,...,1.671157e+08,48.0,48.0,48,48,0,48,48,148.0,164.0
54,450,7,8,6,2199997,1.0,182.0,581.0,3.19,2.61,...,1.714286e+07,182.0,182.0,181,182,0,182,182,556.0,581.0
55,455,7,8,6,2199997,1.0,182.0,581.0,3.19,2.61,...,1.714286e+07,182.0,182.0,181,182,0,182,182,556.0,581.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8949,95,1,1,1,350000,1.0,177.0,621.0,3.51,3.36,...,2.203520e+06,177.0,177.0,177,177,0,173,177,555.0,621.0
8956,29,1,1,1,300000,1.0,289.0,929.0,3.21,2.89,...,1.387690e+06,289.0,289.0,289,283,0,289,289,854.0,929.0
8957,50,1,1,1,289000,1.0,207.0,639.0,3.09,2.21,...,1.856815e+06,207.0,207.0,206,207,0,207,207,569.0,639.0
8963,100,1,1,1,250000,1.0,154.0,599.0,3.89,4.57,...,2.493575e+06,154.0,154.0,154,142,0,154,154,508.0,599.0
8966,130,1,1,1,233376,1.0,178.0,552.0,3.10,2.39,...,3.882739e+06,178.0,178.0,178,178,0,178,178,530.0,552.0

Algumas colunas possuem a string 'X', então vamos excluir as linhas onde acontece isso:

In [ ]:
df_num.loc[(df_num['V012'] == 'X')
                    | (df_num['domicilio01_sp1_V017'] == 'X')
                    | (df_num['domicilio01_sp1_V023'] == 'X')
                    | (df_num['domicilio01_sp1_V035'] == 'X')
                    | (df_num['domicilio01_sp1_V043'] == 'X')]

,Metragem,Quartos,Banheiros,Vagas,Valor,basico_sp1_Situacao_setor,basico_sp1_V001,basico_sp1_V002,basico_sp1_V003,basico_sp1_V004,...,basico_sp1_V006,domicilio01_sp1_V001,domicilio01_sp1_V002,V012,domicilio01_sp1_V017,domicilio01_sp1_V023,domicilio01_sp1_V035,domicilio01_sp1_V043,pessoa01_sp1_V001,pessoa03_sp1_V001
1794,503,4,3,4,4350000,1.0,6.0,29.0,4.83,3.77,...,6.505242e+09,6.0,6.0,X,X,X,X,X,27.0,29.0

In [ ]:
df_num.drop([1794], inplace=True) # excluindo a linha 1784
df_num.reset_index(inplace = True) # resetando o index
df_num.drop(columns = ['index'], inplace = True)
df_num # o dataframe tinha 8975 linhas e agora tem 8974

,Metragem,Quartos,Banheiros,Vagas,Valor,basico_sp1_Situacao_setor,basico_sp1_V001,basico_sp1_V002,basico_sp1_V003,basico_sp1_V004,...,basico_sp1_V006,domicilio01_sp1_V001,domicilio01_sp1_V002,V012,domicilio01_sp1_V017,domicilio01_sp1_V023,domicilio01_sp1_V035,domicilio01_sp1_V043,pessoa01_sp1_V001,pessoa03_sp1_V001
0,380,9,4,4,3700000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,137,9,2,1,2600000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,142,9,2,1,2600000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,150,9,2,1,2600000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,155,9,2,1,2600000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8969,107,1,1,1,188682,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8970,112,1,1,1,188682,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8971,45,1,1,1,160000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8972,61,1,1,1,147288,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8973,61,1,1,1,147288,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8974 entries, 0 to 8973
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Metragem                   8974 non-null   int64
 1   Quartos                    8974 non-null   int64
 2   Banheiros                  8974 non-null   int64
 3   Vagas                      8974 non-null   int64
 4   Valor                      8974 non-null   int64
 5   basico_sp1_Situacao_setor  1359 non-null   float64
 6   basico_sp1_V001            1359 non-null   float64
 7   basico_sp1_V002            1359 non-null   float64
 8   basico_sp1_V003            1359 non-null   float64
 9   basico_sp1_V004            1359 non-null   float64
 10  basico_sp1_V005            1359 non-null   float64
 11  basico_sp1_V006            1359 non-null   float64
 12  domicilio01_sp1_V001       1359 non-null   float64
 13  domicilio01_sp1_V002       1359 non-null   float64
 14  V012                       1359 non-null   object
 15  domicilio01_sp1_V017       1359 non-null   object
 16  domicilio01_sp1_V023       1359 non-null   object
 17  domicilio01_sp1_V035       1359 non-null   object
 18  domicilio01_sp1_V043       1359 non-null   object
 19  pessoa01_sp1_V001          1359 non-null   float64
 20  pessoa03_sp1_V001          1359 non-null   float64
dtypes: float64(11), int64(5), object(5)
memory usage: 1.4+ MB

Note que as colunas

* V012
* domicilio01_sp1_V017
* domicilio01_sp1_V023
* domicilio01_sp1_V035
* domicilio01_sp1_V043

São do tipo object. Então elas possuem dados não numéricos. Vamos resolver isso:

In [ ]:
df_num = df_num.astype('float64')
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8974 entries, 0 to 8973
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Metragem                   8974 non-null   float64
 1   Quartos                    8974 non-null   float64
 2   Banheiros                  8974 non-null   float64
 3   Vagas                      8974 non-null   float64
 4   Valor                      8974 non-null   float64
 5   basico_sp1_Situacao_setor  1359 non-null   float64
 6   basico_sp1_V001            1359 non-null   float64
 7   basico_sp1_V002            1359 non-null   float64
 8   basico_sp1_V003            1359 non-null   float64
 9   basico_sp1_V004            1359 non-null   float64
 10  basico_sp1_V005            1359 non-null   float64
 11  basico_sp1_V006            1359 non-null   float64
 12  domicilio01_sp1_V001       1359 non-null   float64
 13  domicilio01_sp1_V002       1359 non-null   float64
 14  V012                       1359 non-null   float64
 15  domicilio01_sp1_V017       1359 non-null   float64
 16  domicilio01_sp1_V023       1359 non-null   float64
 17  domicilio01_sp1_V035       1359 non-null   float64
 18  domicilio01_sp1_V043       1359 non-null   float64
 19  pessoa01_sp1_V001          1359 non-null   float64
 20  pessoa03_sp1_V001          1359 non-null   float64
dtypes: float64(21)
memory usage: 1.4 MB

In [ ]:
df_num.to_csv('/content/drive/MyDrive/Alura/imersao_dados4/df_num.csv')

In [ ]:
dados_teste = df_num.dropna()
dados_teste

,Metragem,Quartos,Banheiros,Vagas,Valor,basico_sp1_Situacao_setor,basico_sp1_V001,basico_sp1_V002,basico_sp1_V003,basico_sp1_V004,...,basico_sp1_V006,domicilio01_sp1_V001,domicilio01_sp1_V002,V012,domicilio01_sp1_V017,domicilio01_sp1_V023,domicilio01_sp1_V035,domicilio01_sp1_V043,pessoa01_sp1_V001,pessoa03_sp1_V001
28,727.0,7.0,6.0,7.0,5799000.0,1.0,85.0,316.0,3.72,2.35,...,2.034546e+08,85.0,85.0,85.0,82.0,0.0,85.0,85.0,295.0,316.0
29,732.0,7.0,6.0,7.0,5799000.0,1.0,85.0,316.0,3.72,2.35,...,2.034546e+08,85.0,85.0,85.0,82.0,0.0,85.0,85.0,295.0,316.0
35,800.0,7.0,7.0,4.0,3500000.0,1.0,48.0,164.0,3.42,2.76,...,1.671157e+08,48.0,48.0,48.0,48.0,0.0,48.0,48.0,148.0,164.0
54,450.0,7.0,8.0,6.0,2199997.0,1.0,182.0,581.0,3.19,2.61,...,1.714286e+07,182.0,182.0,181.0,182.0,0.0,182.0,182.0,556.0,581.0
55,455.0,7.0,8.0,6.0,2199997.0,1.0,182.0,581.0,3.19,2.61,...,1.714286e+07,182.0,182.0,181.0,182.0,0.0,182.0,182.0,556.0,581.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8948,95.0,1.0,1.0,1.0,350000.0,1.0,177.0,621.0,3.51,3.36,...,2.203520e+06,177.0,177.0,177.0,177.0,0.0,173.0,177.0,555.0,621.0
8955,29.0,1.0,1.0,1.0,300000.0,1.0,289.0,929.0,3.21,2.89,...,1.387690e+06,289.0,289.0,289.0,283.0,0.0,289.0,289.0,854.0,929.0
8956,50.0,1.0,1.0,1.0,289000.0,1.0,207.0,639.0,3.09,2.21,...,1.856815e+06,207.0,207.0,206.0,207.0,0.0,207.0,207.0,569.0,639.0
8962,100.0,1.0,1.0,1.0,250000.0,1.0,154.0,599.0,3.89,4.57,...,2.493575e+06,154.0,154.0,154.0,142.0,0.0,154.0,154.0,508.0,599.0
8965,130.0,1.0,1.0,1.0,233376.0,1.0,178.0,552.0,3.10,2.39,...,3.882739e+06,178.0,178.0,178.0,178.0,0.0,178.0,178.0,530.0,552.0

# 3 Separando dados de treino e teste

In [ ]:
X = dados_teste.drop(columns = ['Valor'])
y = dados_teste['Valor']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled, X_test_scaled

(array([[-0.00196903, -0.42269629, -0.98155631, ..., -1.18340666,
         -1.18880667, -0.75879869],
        [-0.57535141,  0.60578934, -0.40971493, ..., -1.39566836,
         -1.42691938, -1.48650055],
        [-1.00538819, -0.42269629, -0.40971493, ...,  0.66905904,
         -0.21594617, -0.23358778],
        ...,
        [-0.88593353, -1.45118193, -0.98155631, ...,  0.90061726,
          1.47805568,  1.45594611],
        [-0.2599911 , -0.42269629,  0.16212646, ..., -0.08350515,
          0.28749213,  0.27896745],
        [-0.71391882, -0.42269629, -0.40971493, ..., -0.1413947 ,
         -0.13430753, -0.12601446]]),
 array([[ 0.97755919,  1.63427498,  3.02133338, ..., -0.85536586,
         -0.61733617, -0.56263558],
        [-0.33644209, -0.42269629, -0.40971493, ..., -0.52732506,
         -0.44725566, -0.36647247],
        [-1.24429752, -1.45118193, -0.98155631, ..., -0.21858077,
         -0.70577803, -0.73981516],
        ...,
        [ 1.19257759,  0.60578934,  1.30580923, ..., -1.27988925,
         -1.10716803, -1.08784649],
        [ 0.16048931, -0.42269629,  0.16212646, ...,  0.09016351,
         -0.50168143, -0.54997989],
        [ 1.40759598,  0.60578934,  1.30580923, ..., -0.87466238,
         -0.36561702, -0.30952189]]))

# 4 Modelos de regressão

## 4.1 Regressão Linear

In [ ]:
reg = LinearRegression().fit(X_train_scaled, y_train)
y_train_pred  = reg.predict(X_train_scaled)
y_train_pred

array([ 1.79813036e+06,  2.16950128e+06,  5.70559426e+05,  8.80730353e+05,
        1.58878555e+06, -2.88294706e+05,  4.38903337e+05,  2.88324337e+06,
        2.12305895e+06,  6.31741929e+05,  7.00733397e+05,  8.54472083e+05,
       -4.15176510e+05,  2.61509496e+06,  5.74673608e+06,  2.96403351e+06,
        3.33472189e+06,  2.95786280e+06,  4.63592829e+06,  1.95131645e+06,
        1.83700554e+06,  3.76086306e+06,  1.62292396e+06,  1.69289273e+06,
        4.54446106e+06,  5.74627135e+06,  3.34938260e+06,  9.48933940e+05,
        5.32300605e+06,  8.09046461e+06,  4.15753996e+06,  4.79317683e+05,
        7.52422921e+06,  1.49322825e+06,  2.39245375e+06,  2.83380965e+05,
        3.03984749e+05,  1.13017306e+06,  3.33898652e+06,  3.67860842e+06,
        1.19618104e+06,  4.50677457e+06,  8.52195130e+05,  6.09054721e+05,
        8.48821116e+05,  8.43518939e+05,  1.86549963e+06,  1.59487387e+06,
        3.43930837e+06,  1.49953969e+06,  3.02654869e+06,  2.21104985e+06,
        2.17782334e+06,  1.31701947e+06,  5.43778362e+06,  3.17747378e+06,
        7.82423923e+05,  3.38661507e+06,  4.07798722e+06,  2.12149793e+06,
        2.00900712e+06,  5.43542845e+05,  3.74214550e+06,  1.80704975e+06,
        2.03432620e+06,  1.49459368e+06,  3.57102031e+06,  2.77118009e+06,
        5.37026971e+05,  1.16997526e+06,  7.86138565e+05,  1.00450766e+06,
        4.38934665e+06,  2.20132664e+06, -4.62805057e+05,  3.96817360e+06,
        1.75718329e+06,  2.36595264e+06,  7.65133094e+06,  1.38898944e+04,
        9.71869522e+05,  9.75051479e+05,  7.91896850e+05, -4.60135178e+05,
        2.22684932e+06,  7.40921055e+05,  9.07674571e+05,  1.28564669e+06,
        4.39995565e+05,  3.70526050e+06,  1.81292474e+06,  3.03696181e+06,
        6.21938534e+06,  1.04596431e+07,  2.67212841e+06,  2.99199149e+06,
        1.86535204e+06,  5.96104400e+05,  4.20971502e+06, -3.98945232e+05,
        7.11126786e+05,  1.53479932e+06,  3.27436985e+05,  2.29990797e+06,
       -4.88268328e+04,  5.26335216e+05,  8.60046024e+05,  2.91272323e+06,
       -2.53462279e+05,  3.13647041e+06,  3.56273977e+06,  1.95988482e+06,
        1.50789712e+06,  6.44517398e+06,  1.40653612e+06,  4.16208648e+06,
        3.48909979e+06,  2.16425441e+06,  4.08545115e+06,  8.98617774e+06,
        3.12916628e+06,  3.94624088e+06,  6.46281870e+06,  4.82109874e+05,
        3.69149880e+06,  1.24248732e+06,  4.46981825e+06,  2.00822265e+06,
        2.10250063e+06,  2.39976295e+06,  2.76907358e+06,  5.84655518e+05,
        6.08100923e+06,  3.18230515e+06,  5.81034743e+06,  9.12371008e+06,
        8.00067894e+06,  3.94919641e+06,  1.45324839e+06,  1.38414680e+06,
        1.91709028e+06,  2.70295062e+06,  4.69542130e+06,  3.37348149e+06,
        2.26240811e+05,  3.11688822e+06,  5.74348516e+06,  1.99439359e+06,
        4.93924974e+06,  2.97067800e+06,  2.41577343e+06,  2.61509496e+06,
        2.10145348e+06,  5.74192349e+06,  4.74304985e+06,  4.34876381e+06,
        1.02867825e+06,  3.84525017e+06,  4.41952463e+05,  1.97457894e+06,
        2.44803010e+06,  9.80139046e+05,  1.12537968e+06,  8.46865074e+06,
        3.54916224e+06,  7.41220964e+06,  7.96793885e+05,  3.27184241e+06,
        2.58063367e+06,  1.46769037e+06,  4.00842982e+06,  2.05554207e+06,
        4.75353943e+06,  1.01949807e+06,  1.14721600e+06,  1.27007616e+06,
        1.83949489e+06, -3.51316685e+05,  5.80543550e+06,  6.92330594e+05,
       -4.81011722e+04,  1.83989075e+06,  4.83199633e+06,  1.93204028e+06,
        8.33198673e+05,  7.36458109e+06,  4.10763118e+05,  1.24418982e+06,
        5.49017016e+06,  1.61714270e+06,  1.22904084e+06,  8.93854920e+06,
        2.18756331e+06,  3.06108924e+06,  4.85507572e+06,  1.13652026e+06,
        3.39167982e+06,  2.85522978e+06,  1.12664538e+06,  1.24380959e+06,
        2.18705593e+06,  3.26920975e+06,  3.93783808e+06,  1.55732774e+06,
        1.34966233e+06,  3.30264797e+06,  2.21561936e+06,  2.38347844e+06,
        4.52755751e+06,  6.11673909e+06,  9.40458341e+05,  1.50846994e+06,
        2.91699112e+06,  2.62729785e+06,  3.13326854e+06,  9.71179736e+05,
        3.56627058e+06,  5.69910753e+06,  1.21760380e+06,  2.07056476e+06,
        3.56416009e+06,  3.99682495e+06, -2.40843414e+04,  3.37954810e+06,
        5.22183136e+06,  7.00359305e+06,  1.23801814e+06,  2.53703370e+06,
        2.76734784e+06,  1.19635719e+06,  3.05501421e+06,  5.07447070e+05,
        5.00399167e+06,  5.92938562e+06,  4.55483148e+06,  4.64344933e+06,
        4.75074904e+06,  2.03053836e+06,  9.24424621e+05,  1.40798665e+06,
        2.17597185e+06,  6.80453071e+05,  5.86288772e+06,  2.22160274e+06,
        4.22274915e+06,  1.85740077e+06,  4.48509157e+06,  2.61422597e+05,
        2.01696303e+06,  2.52443828e+06,  5.90429499e+05,  9.48933940e+05,
        1.66371643e+06,  1.02746019e+07,  1.22954210e+06,  1.61990904e+06,
        1.18844636e+06,  4.64661356e+06,  1.68423239e+06,  1.06637824e+06,
        1.47373014e+06,  1.01949807e+06,  3.69949470e+06,  1.54861564e+06,
        2.48940515e+06,  1.08335894e+06,  1.44364159e+06,  7.93480979e+06,
        1.82440062e+06,  1.56963016e+06,  4.64462413e+05,  1.33109819e+06,
        8.79097274e+05,  2.85593880e+06,  4.61333335e+05,  2.81355350e+05,
        3.81201544e+06,  5.75176274e+05,  3.82466698e+06,  1.28564669e+06,
        3.35178480e+06,  3.79762162e+06,  9.98067769e+06,  1.45947840e+06,
        2.15523302e+06,  1.06605487e+05,  1.11400679e+06,  3.82305735e+06,
        5.74724355e+05,  1.23704941e+06,  3.72275935e+06,  2.67492640e+06,
        2.10161227e+06,  4.39540131e+05,  1.70671953e+06,  8.62598382e+05,
        5.65640410e+06,  5.37786698e+06,  5.10063831e+06,  3.07979433e+06,
       -4.45383021e+04,  3.81014294e+06,  7.73228808e+05,  8.35276284e+05,
        1.51394448e+06,  1.80957241e+06,  1.23458654e+06,  8.70444205e+05,
        7.16353303e+06,  2.10898953e+06,  1.36342762e+06,  8.33767112e+05,
        3.37638141e+06,  4.42218970e+06,  2.65041384e+06,  1.08335894e+06,
        7.08872465e+06,  1.85467830e+06,  7.27531758e+05,  3.20352257e+06,
        3.47010986e+06,  1.62487167e+05,  5.72042179e+06,  1.87152487e+06,
        2.63100464e+06,  6.26601545e+05,  1.03699610e+06,  1.69669787e+06,
        1.54115700e+06,  2.11103531e+06,  1.55654874e+06,  8.34609428e+05,
        5.80943643e+06,  1.69163455e+06,  7.07027450e+06,  1.13029106e+07,
        2.17321094e+06,  8.00067894e+06,  1.92952612e+06,  1.89878742e+06,
        4.49727956e+06,  1.77520914e+06,  2.69513253e+06,  7.21116158e+06,
        1.33651826e+06,  3.19267035e+06,  8.76640037e+05,  2.78998549e+06,
        8.17805394e+06, -4.15176510e+05,  6.69043550e+06,  1.65559594e+06,
        1.43970596e+06,  5.33783807e+06,  2.86566437e+06,  4.20971502e+06,
        5.84846966e+06,  1.33139997e+06,  1.36873963e+06,  3.28983897e+05,
        7.35484416e+05,  9.47716389e+06,  5.71263003e+06,  1.60495629e+06,
        3.71643647e+06,  5.81774485e+06,  2.78544695e+06,  1.64250242e+06,
        6.32284065e+05,  7.14198879e+05,  2.90283245e+06,  2.27523353e+06,
       -2.53462279e+05,  1.22055377e+06,  4.14242838e+05,  1.47373014e+06,
        1.31099967e+06,  2.54646791e+06,  2.85932636e+06,  1.76331480e+06,
        3.88742084e+06,  9.22613357e+05,  2.02807785e+06,  4.33483596e+05,
        3.71762235e+06,  2.86404301e+06,  1.66477125e+06,  4.18052134e+06,
        2.80760123e+06,  3.14683241e+06,  9.96371123e+05,  4.57026177e+06,
        1.12469293e+06,  2.22720403e+06,  1.53603178e+06,  3.16396131e+06,
        8.32762647e+05,  3.34238236e+06,  5.08580828e+06,  3.65763195e+06,
        9.42633537e+05,  1.02076564e+06,  3.47495224e+06,  1.33573047e+06,
        3.02652229e+06,  4.08473987e+06,  6.32824524e+05,  4.62227044e+06,
        3.63624776e+06,  1.51935812e+06,  4.74967952e+06,  1.20853453e+06,
        8.02757024e+05,  3.13216537e+06,  7.86980881e+05,  1.11709816e+06,
        2.61509496e+06,  8.04557097e+06,  3.30264797e+06,  2.15369810e+06,
        3.48549248e+06,  1.86946174e+06,  2.44415305e+06,  2.18986037e+06,
        1.24495338e+06,  2.07102839e+06,  3.33141197e+06,  3.55513779e+06,
        2.51723352e+06,  1.28564669e+06,  1.08091444e+05,  2.76680578e+06,
        1.68648369e+06,  8.13809156e+06,  2.68897437e+06,  5.72104432e+05,
        1.31060617e+06,  3.92847362e+06,  3.21677378e+06,  7.15679392e+05,
        2.37954058e+06,  1.93801777e+06,  8.84580785e+05,  4.41578321e+04,
        2.95786280e+06,  1.64906932e+06,  2.27325807e+06,  3.99254685e+05,
        8.05941528e+05,  1.98975205e+06,  3.19446095e+06,  7.49341807e+05,
        1.48032171e+06,  3.93176525e+06,  2.06156352e+06,  4.49756063e+06,
        6.35011172e+05,  8.21340285e+04,  1.84640126e+06,  4.36204779e+06,
        9.88346532e+05,  2.43361047e+06,  1.99262340e+06,  6.97941205e+05,
        1.23801814e+06,  2.72144504e+06,  1.80544405e+06,  1.78433685e+06,
        1.69092520e+06,  1.92717229e+06,  4.84970000e+05,  1.11781390e+07,
        1.36208197e+06,  2.58923077e+05,  2.96035178e+06,  4.14114786e+04,
        2.84077006e+06,  1.11348871e+06,  3.44600247e+06,  2.90695491e+06,
        4.32432621e+06,  3.66215035e+06,  4.41972336e+06,  9.64317181e+05,
        1.19477000e+06,  2.33584990e+06,  1.88128210e+06,  5.17420281e+06,
        2.89950473e+06,  1.16338745e+06,  4.03035867e+06,  1.77900428e+06,
        1.57082952e+06,  3.69149880e+06,  2.49178160e+06,  1.96563120e+06,
        1.55556253e+06,  8.74984810e+05, -5.39136497e+04,  1.03670620e+06,
        3.98268536e+06,  1.09471026e+05,  2.31855962e+06,  1.94597786e+06,
        1.28467796e+06,  8.66420449e+06,  1.88807235e+06,  8.04557097e+06,
        6.86612599e+05,  4.78706669e+05,  5.40522296e+05,  2.82875004e+06,
        9.48962727e+05,  3.43675492e+06,  5.50790915e+05,  4.24453903e+06,
        6.04901956e+06,  3.82263534e+06,  3.57135382e+06,  2.73021413e+06,
        7.80506883e+06,  4.20327729e+06,  1.10766515e+06,  1.11547452e+06,
        2.81874852e+05,  1.57445308e+06,  1.48422835e+05,  2.85522978e+06,
        2.11322311e+06,  8.13809156e+06,  3.93153345e+06,  6.65792395e+05,
        9.18072752e+05,  4.80372918e+06,  2.80871455e+06,  7.74462826e+05,
        1.12229114e+06,  2.76734784e+06,  2.09445744e+06,  1.25129705e+06,
        3.45164835e+06,  2.91023426e+06,  1.61209851e+06,  3.53925748e+06,
        8.78840978e+05,  3.31009512e+05,  1.55687106e+06, -3.51316685e+05,
        4.66139805e+06,  1.32276738e+06,  1.69651883e+06,  2.71971930e+06,
        2.93760368e+06,  2.61509496e+06,  3.45283745e+05,  1.48717078e+06,
        1.93069223e+06,  3.16914523e+06,  1.85335978e+06,  1.71813942e+06,
        3.44147124e+06,  2.83772621e+06,  7.89504327e+04,  3.12984523e+06,
        1.91225627e+06,  2.31948098e+06,  1.96457363e+06,  4.40967634e+06,
        1.83734725e+06,  3.80101405e+06,  2.34753651e+06,  1.98550462e+06,
        5.25667387e+05,  9.29624877e+06,  4.43804778e+06,  5.10334419e+06,
        2.50943483e+05,  5.06949364e+05,  2.11819331e+06,  3.38661507e+06,
        1.28467796e+06,  6.15860442e+06,  9.34268232e+05,  6.53104850e+05,
        2.22545188e+06,  1.18141229e+06,  1.48402970e+06,  1.63966848e+06,
        3.07417724e+06,  1.17967571e+06,  3.03933828e+06,  6.40534542e+06,
        7.92569926e+05,  4.19862225e+06,  6.04628974e+04,  1.79186635e+06,
        7.86138565e+05,  1.76036865e+06,  1.51209090e+06,  2.74276108e+06,
        1.31987694e+06,  1.78852325e+06,  5.48541217e+06,  1.40953670e+05,
        2.35768001e+06,  5.94443815e+06,  9.64308131e+05,  1.73411224e+06,
        1.11738467e+06,  3.72275935e+06,  2.61709254e+05,  5.18461140e+05,
        1.61845806e+06,  4.32069907e+06,  3.23687482e+06,  1.00340978e+06,
        6.64833107e+06,  1.94445675e+06,  2.57271675e+06,  3.39637184e+06,
        2.40530855e+06,  7.01512669e+05, -9.19556243e+03,  1.07706439e+06,
        2.58520173e+05,  9.18072752e+05,  1.08889171e+06,  1.55262302e+05,
        8.04557097e+06,  8.56137438e+05,  5.78972998e+05,  3.57244697e+06,
        2.94713328e+06,  4.15858448e+06,  2.54258878e+06,  2.38107396e+06,
        1.58672746e+06,  1.19484455e+06,  9.66435914e+05,  1.34276705e+06,
        3.85777149e+06,  5.37466231e+06,  2.45248334e+06,  1.25513105e+05,
        8.38009284e+05,  2.02323805e+06,  6.87855869e+05,  5.95890541e+05,
        7.72244308e+05,  2.07901917e+06,  2.24947389e+05,  3.29593083e+06,
        2.63713590e+06,  4.63770976e+06,  8.12573368e+05,  4.57518606e+06,
        3.75065532e+05,  3.87229552e+06,  5.81774485e+06,  2.31832409e+06,
        1.42610159e+06,  2.29415528e+06,  4.55488854e+05,  9.81518236e+06,
        3.20940945e+06,  8.73786585e+05,  1.23367294e+06,  2.66671243e+06,
        2.21165721e+05,  6.22804821e+05,  2.19021575e+06,  4.27749304e+06,
        1.53479932e+06,  1.93787607e+06,  8.33782710e+05,  9.60299695e+05,
        3.24609060e+06,  7.75744028e+06,  1.64530515e+06,  1.74089470e+06,
        2.18821674e+05,  2.48140363e+06,  6.69043550e+06,  5.37063460e+06,
        4.24625079e+06,  7.41586083e+06,  3.61977887e+06,  2.35844874e+06,
        3.54113975e+05,  6.45785117e+05,  5.98095542e+06,  1.06978135e+06,
        1.37367434e+05,  2.21033754e+06,  3.19470633e+06,  1.15551753e+06,
        1.34926800e+06,  8.70444205e+05,  1.95450993e+06,  4.35257155e+06,
        5.28232930e+06,  4.38000915e+05,  2.81641446e+06,  6.45297396e+06,
        2.98241627e+06,  2.81416552e+06,  2.56356202e+05,  8.93075826e+04,
        2.94436295e+06,  9.27867896e+05,  2.17672287e+06,  2.02902440e+06,
        7.05122160e+06,  5.25908002e+06,  1.53479932e+06,  2.00213848e+06,
        3.52339176e+06,  2.09971806e+06,  9.52479244e+06,  8.01823358e+05,
        2.02777815e+06,  2.77756542e+06,  1.23958746e+06,  1.76083955e+06,
        8.01005619e+06,  1.64250242e+06,  3.52258078e+06,  3.28165098e+06,
        6.22804821e+05,  2.13282324e+06,  1.65516275e+06,  8.15721646e+06,
        1.89402981e+06,  4.90081207e+06,  8.31468727e+05,  2.14776051e+05,
       -5.80619514e+05,  3.77928055e+06,  2.06488143e+06,  4.33181617e+06,
        3.33523194e+06,  5.14826685e+06,  3.82062188e+06,  3.29916169e+06,
       -1.01716148e+05,  1.53479932e+06,  1.64329665e+06,  1.29892560e+06,
        2.42954342e+06, -3.14332357e+05,  2.59289676e+06,  9.42290971e+05,
        2.82787061e+06,  1.99439359e+06,  2.58712363e+06,  2.59161757e+06,
        3.44400039e+06,  3.49162894e+06,  1.62110929e+05,  1.92952337e+06,
        2.58950735e+06,  1.63726063e+06,  5.29758376e+05,  2.07726906e+06,
        1.94676505e+06,  1.09663014e+06,  1.74696336e+06,  2.46906622e+06,
        6.70814032e+05,  1.23607491e+06,  2.34731556e+06,  1.37419227e+06,
        2.41084467e+06,  8.10642185e+05,  1.44559971e+06,  2.95817837e+06,
        6.43519088e+05,  1.87178200e+06,  1.43724429e+06,  1.03799430e+06,
        6.98372137e+05,  1.85467830e+06,  8.92790247e+06,  4.42255953e+06,
        2.68202794e+06,  1.15551753e+06,  2.82224850e+06,  2.71243169e+06,
        1.69293370e+06,  1.22984745e+06,  3.38286049e+06,  4.03031391e+06,
        2.44988169e+06,  2.47789059e+06,  3.15605348e+06,  2.13990249e+06,
        1.84575890e+06,  2.73745638e+06,  3.74770809e+06,  2.02740926e+06,
        2.73869358e+05,  1.69813409e+06,  1.29592501e+06,  6.23525830e+06,
        6.67862847e+06,  2.06847108e+06,  4.59208961e+06,  5.36241651e+05,
        2.58293424e+06,  3.25442747e+06,  3.06408291e+06,  2.02339985e+06,
        3.33203473e+06,  6.98018389e+06,  4.51956845e+05,  9.00190736e+05,
        1.94676505e+06,  7.37553455e+05,  3.64387025e+06,  5.13343682e+06,
        4.65951634e+06,  3.13319810e+06,  6.92576165e+05,  2.22435141e+06,
        3.30205602e+06,  6.43298958e+06,  1.27717064e+06,  5.65096457e+06,
        4.20141637e+06,  4.39540131e+05,  5.09815651e+06,  3.51966974e+06,
        3.13239173e+06,  4.28583493e+06,  4.88613104e+05,  1.03495239e+05,
        3.25501942e+06,  2.37215764e+06,  2.47887772e+06,  8.82904831e+05,
        8.10958792e+06,  4.32512158e+06,  1.29258193e+06,  2.18045179e+06,
        3.10871779e+06,  4.54900942e+05,  8.54472083e+05,  1.05278618e+06,
        1.10566716e+06,  7.46998834e+05,  5.33886545e+06,  5.89680960e+06,
        1.22430128e+06,  2.14924082e+06,  7.91702241e+05,  5.76271888e+06,
        4.05792044e+05,  1.87178200e+06,  1.62007478e+06,  4.86531649e+06,
        4.61188779e+06,  4.50020354e+06,  3.88084507e+06,  5.42549553e+06,
        3.33347631e+03,  9.42122168e+06,  1.26818232e+06,  1.88582217e+05,
        4.70264255e+06, -1.80908004e+05,  1.97287093e+06,  6.76266758e+05,
        1.82415346e+06,  5.26335216e+05,  3.04174871e+06,  1.76083955e+06,
        8.18572011e+06,  2.59153008e+05,  1.04086262e+06,  1.78852325e+06,
        9.75858135e+05,  2.98523222e+06,  2.02183557e+06,  9.48933940e+05,
        3.69534661e+06,  1.24970061e+06,  1.99468102e+06,  1.84808919e+06,
        3.65763195e+06,  6.62483165e+05,  4.87262275e+05,  3.82690910e+06,
        3.01461980e+06,  2.35512772e+06,  2.01813468e+06,  1.06364296e+05,
        1.14858620e+05,  2.12930050e+06,  2.22552860e+05,  2.84563356e+06,
        1.73186094e+06,  9.41217770e+05,  2.44739150e+06,  1.60753420e+06,
        8.05461003e+05,  1.50929907e+06,  5.02529489e+05,  9.07674571e+05,
        2.00813253e+06,  1.19484455e+06])

In [ ]:
y_test_pred = reg.predict(X_test_scaled)
y_test_pred

array([ 4.24625079e+06,  1.85104421e+06,  1.03573039e+06,  4.03466918e+06,
        1.80189748e+06,  2.84207280e+06,  2.11250998e+06,  2.66480315e+06,
        3.63134571e+05,  6.07951825e+06,  2.98933326e+06,  7.75160305e+05,
        1.90098833e+06,  6.29078370e+06,  2.73261368e+06,  4.40020009e+06,
        3.75602025e+06,  1.21562237e+06,  3.87044197e+06,  3.26920975e+06,
        4.07798722e+06,  7.41517546e+05,  3.07579750e+06,  4.17550091e+05,
        4.05832515e+06,  1.57228049e+06,  1.48995473e+06,  3.69451695e+06,
        2.24273422e+06,  9.89077653e+05,  1.63447795e+06,  1.11740989e+06,
        4.54783208e+06,  2.40607728e+06,  7.57185776e+06,  4.11550945e+05,
        7.25600261e+05,  9.73137091e+05,  1.29581456e+06,  3.21464589e+06,
        7.05311838e+05,  1.80977223e+06,  1.18922807e+06,  1.61968357e+06,
        3.52265398e+06,  5.74711707e+05,  2.13567729e+06,  9.35637980e+06,
        5.47885628e+06,  3.26227444e+06,  1.49392190e+06,  2.94331175e+06,
        2.88425795e+06,  2.31988804e+06,  7.03120064e+05,  4.54518918e+06,
        3.09199377e+06,  1.55609849e+06,  1.92952612e+06,  1.49322825e+06,
        6.47428158e+06,  2.68498514e+06,  2.99083229e+06,  2.11524461e+05,
        7.45004343e+05,  1.50793399e+06,  3.94588500e+06,  1.07206258e+06,
        5.00106401e+06,  4.05260269e+06,  1.85575923e+06,  4.52263323e+06,
        4.61687672e+06,  3.56416009e+06,  1.19618104e+06,  2.95786280e+06,
        1.13125817e+06,  2.51454311e+06,  3.52867368e+06,  1.98139585e+06,
        1.74572890e+06,  5.91171392e+05,  1.42810453e+06,  3.91911584e+05,
        2.27963705e+06,  2.14080707e+05,  8.69719920e+05,  1.36464801e+06,
        1.14529661e+06,  2.98705353e+06,  2.94320374e+06,  4.32611428e+06,
        1.68333595e+06,  3.32160362e+06,  2.04076590e+06,  2.62051357e+06,
        1.68570876e+06,  2.87604807e+06,  1.24380959e+06,  7.40204712e+05,
        3.11477452e+06,  1.28564669e+06,  3.36794753e+06,  1.96348415e+06,
        8.39330788e+05,  4.29363998e+06,  4.46231089e+06,  2.56746642e+06,
        5.17091952e+06,  3.68814177e+06,  2.37010417e+06,  1.08254451e+06,
        3.19435452e+05,  9.32209332e+05,  2.08495611e+06,  2.71548495e+06,
        4.20696185e+06,  4.34171810e+06,  2.36751659e+06,  2.68202794e+06,
        7.52940385e+05,  3.31481442e+06,  3.44400039e+06,  2.59021732e+06,
        7.95305039e+06,  7.30295072e+05, -2.40666159e+05,  9.48933940e+05,
        1.11662530e+07,  5.58335889e+06,  1.97019185e+06, -3.01090826e+05,
        3.66880792e+06,  3.67513080e+06,  2.29778924e+06,  5.23638141e+06,
        2.37215764e+06, -5.61089089e+05,  2.61509496e+06,  2.84285008e+05,
        3.87628608e+06,  2.76907358e+06,  2.55149052e+06,  1.03597508e+06,
        5.57467497e+05,  3.52059094e+06,  9.72677703e+05,  1.30203378e+06,
        1.62364566e+06,  2.93478772e+06,  3.50153370e+06,  2.68202794e+06,
        4.09438323e+05,  5.85753653e+03,  2.98422688e+06,  2.41978618e+06,
        2.01432402e+05,  1.46810940e+06,  2.49565864e+06,  3.33832068e+06,
        3.09377682e+06,  1.11151945e+06,  1.46699094e+06,  4.38903337e+05,
        7.52867480e+06,  1.42182081e+06,  4.39132012e+06,  2.05576108e+06,
        1.52682453e+06,  3.75065532e+05,  1.10335650e+06,  2.90010455e+06,
        1.06818447e+06,  1.19484455e+06,  8.93589223e+05,  1.47172958e+06,
        1.00042582e+06,  1.76320901e+06,  1.88306369e+06,  1.39803427e+06,
        8.04557097e+06,  9.35637980e+06,  6.80453071e+05,  5.59539218e+06,
        6.88918391e+05,  9.35637980e+06,  3.87026388e+06,  6.76742888e+04,
        1.06780770e+06,  1.93654197e+05,  1.97646033e+06,  4.04634776e+06,
        1.10998315e+06,  3.11489479e+06,  2.63713590e+06,  1.89197783e+06,
        3.04122363e+06,  1.47155989e+06,  2.88261777e+06,  5.29020952e+06,
        3.80722446e+06,  1.90240288e+06,  1.84995981e+05,  2.16342130e+06,
        2.57160854e+05,  4.53104216e+06,  2.05504431e+06,  6.78295609e+06,
        3.88742084e+06, -7.44767522e+04,  1.01193668e+06,  4.46981825e+06,
        1.75745167e+06,  5.69864280e+06,  1.43673091e+06,  2.93024632e+06,
        1.74576264e+06,  3.39677408e+05,  5.74627135e+06,  2.03732756e+06,
        3.91511783e+06,  2.42840896e+06,  2.23282823e+06,  4.15610335e+06,
        1.69293370e+06,  4.57435426e+06,  1.73411224e+06,  4.02975647e+06,
        3.41565385e+06,  6.07200587e+06,  2.79444425e+06,  2.86863705e+06,
        1.89729219e+05,  2.38138749e+05,  2.08337468e+06,  1.73186094e+06,
        1.19171354e+06,  3.02654869e+06,  8.77686106e+04,  2.73375568e+06,
        1.40376450e+06,  6.66570332e+05,  2.97494612e+06,  3.61036832e+06,
        3.99679636e+06,  9.65948437e+06,  6.69595961e+06,  2.37357766e+05,
        8.99072744e+05,  2.32480254e+06,  2.21639016e+06,  1.58366032e+06,
        2.19872341e+06,  7.63307939e+05,  3.03984749e+05,  4.26498086e+06,
        7.24970732e+05,  7.88316604e+05, -2.40666159e+05,  1.23313624e+06,
        1.05682872e+06,  2.40275627e+06,  2.03070359e+06,  3.33356020e+05,
        4.41346232e+05,  2.64134582e+06,  5.88271268e+05,  1.90338777e+06,
        7.44941379e+05,  4.21735231e+06,  1.14003624e+06,  4.45505048e+06,
        4.78038840e+05,  1.02017916e+06,  2.11512298e+06,  1.84356412e+06,
        6.47569098e+06,  7.31994017e+05,  2.71243169e+06,  3.71643647e+06,
        1.25762123e+06,  1.94563191e+06,  2.42887721e+06,  2.63475218e+06,
        4.42974367e+05,  9.30875126e+06,  6.98268808e+05,  5.71918023e+04,
        1.07086686e+06,  4.25479384e+06,  4.42107388e+06,  1.69014727e+06,
        1.81772350e+06,  2.84898568e+06,  3.23988744e+06,  4.56152776e+06,
        1.54222223e+06,  2.18540217e+06,  6.18762975e+06,  2.66391889e+06,
        1.45561519e+06,  3.29069213e+06,  4.14110979e+06,  9.93304914e+06,
        6.24151389e+06,  4.06967314e+06,  4.01746776e+06,  9.01305393e+05,
        2.69592773e+06,  4.85629462e+05,  4.85629462e+05,  1.58128220e+05,
        1.73167008e+06,  3.39001091e+06,  4.96642086e+05,  1.47113940e+06,
        1.79561806e+06,  9.97653680e+06,  3.03984749e+05,  3.15488488e+06,
        3.91274790e+05,  2.61391838e+06,  7.86364682e+05,  1.66731211e+06,
        7.92644033e+06,  3.40328095e+06,  2.61908388e+06,  3.08556955e+06,
        1.29892560e+06,  3.57381299e+06,  2.44739150e+06,  2.93390931e+06,
        1.92883179e+06,  1.93805049e+06,  5.85706498e+06,  3.45683758e+06,
        1.92891064e+06,  6.47055628e+05,  1.74576264e+06,  1.61852639e+06,
        1.38639017e+07,  3.59207088e+05,  2.29361723e+06,  2.16085166e+06,
        1.25940545e+06,  7.78294234e+05,  3.64051322e+06,  2.22435141e+06,
        5.08961882e+05,  4.43804778e+06,  4.10722463e+06,  3.65068619e+06,
        3.08153773e+06,  2.43256811e+06,  1.15364694e+06,  1.98044931e+06,
        1.55431219e+06,  1.61561492e+06,  4.72844888e+06,  1.15302836e+05,
        4.53272012e+06,  2.94773309e+06,  1.29533724e+05, -1.95880205e+05,
        4.23820639e+06,  1.55692762e+06,  3.28440618e+06,  2.01220218e+06,
        1.19484455e+06,  2.14186793e+06,  2.18495910e+06,  1.36149120e+06,
        2.74276108e+06,  1.96865741e+06,  2.06459158e+06,  3.73552075e+05,
        3.18924627e+06,  1.06975612e+06,  4.10595369e+06,  4.29216758e+06,
        1.37192648e+06, -6.90864585e+05,  1.03257498e+06,  6.94684175e+05,
        3.22849697e+06,  4.00839196e+06,  3.00931214e+06,  2.07386938e+06,
        3.13467660e+06,  1.99360641e+06,  2.34659218e+05,  1.99360641e+06,
        1.18695800e+06,  1.06784597e+06,  2.60729869e+06,  9.12671148e+05,
        8.44821632e+05,  1.73186094e+06,  1.30909355e+06,  5.36241651e+05,
        4.05726796e+06,  2.02807785e+06,  1.17300823e+06,  3.92367018e+05,
        1.53479932e+06,  2.86987705e+06,  1.16090599e+06,  2.34260705e+06,
        3.03933828e+06,  2.02235229e+06,  1.30357355e+06,  3.01407336e+06,
        5.26756616e+06,  1.51918844e+06,  1.11849541e+06,  2.03738060e+06,
        4.39995565e+05,  5.46780830e+06,  1.56798637e+06,  1.69293370e+06,
        4.35931128e+06,  1.52200161e+06,  1.96507026e+06,  1.55609849e+06,
        9.88086888e+05,  4.92297847e+06,  1.73186094e+06,  1.55556253e+06,
        7.72883314e+06,  3.83979229e+06,  3.14778828e+06,  7.44910443e+05,
        1.65909098e+06,  1.04406482e+07,  1.82663283e+06,  2.44008230e+06,
        7.50198372e+05,  4.43581138e+06,  2.17957549e+06,  2.11609963e+06,
        4.21716876e+06,  1.38161884e+06,  3.70526050e+06,  5.17604585e+06,
        2.14068628e+06,  2.96264001e+06,  4.98625019e+06,  3.46957635e+06,
        4.37197782e+06])

In [ ]:
df_results_reg_lin = pd.DataFrame(list(zip(y_test_pred, y_test)), columns = ['y_test_pred','y_test'])
df_results_reg_lin

      y_test_pred     y_test
0    4.246251e+06  4800000.0
1    1.851044e+06   636000.0
2    1.035730e+06   395000.0
3    4.034669e+06  1600000.0
4    1.801897e+06   721000.0
..            ...        ...
444  2.140686e+06  1970000.0
445  2.962640e+06  2450000.0
446  4.986250e+06  3200000.0
447  3.469576e+06  5300000.0
448  4.371978e+06  3700000.0

[449 rows x 2 columns]

In [ ]:
df_results_reg_lin = df_results_reg_lin.astype(int)
df_results_reg_lin

     y_test_pred   y_test
0        4246250  4800000
1        1851044   636000
2        1035730   395000
3        4034669  1600000
4        1801897   721000
..           ...      ...
444      2140686  1970000
445      2962640  2450000
446      4986250  3200000
447      3469576  5300000
448      4371977  3700000

[449 rows x 2 columns]

In [ ]:
df_results_reg_lin.to_csv('/content/drive/MyDrive/Alura/imersao_dados4/df_results_reg_lin.csv')

# 2.2 Random Forest

In [ ]:
regr = RandomForestRegressor(n_estimators = 500,
                             #max_depth = 2,
                             random_state=0)
regr.fit(X_train_scaled, y_train)

RandomForestRegressor(n_estimators=500, random_state=0)

In [ ]:
y_test_pred_rf = regr.predict(X_test_scaled)

df_results_random_forest = pd.DataFrame(list(zip(y_test_pred_rf, y_test)), columns = ['y_test_pred_rf','y_test'])
df_results_random_forest = df_results_random_forest.astype(int)
df_results_random_forest

     y_test_pred_rf   y_test
0           4847700  4800000
1           1066715   636000
2            460688   395000
3           2100019  1600000
4           1604422   721000
..              ...      ...
444         1733182  1970000
445         4365253  2450000
446         4314212  3200000
447         3128392  5300000
448         4814196  3700000

[449 rows x 2 columns]

In [ ]:
df_results_random_forest.to_csv('/content/drive/MyDrive/Alura/imersao_dados4/df_results_random_forest.csv')

# 5 Anotações

* Tentar prever as colunas com nan (video discord)
* Usar um xgboost
* Tentar usar os 8k dados sem os dados do censo
* SVM ou redes neurais
* Random forests seleção de variáveis
* IDH e preço m2 por bairro